# TP6

### `Resolver usando Pandas`

Resolver los ejercicios del TP3 utilizando la librería Pandas.

### Ejercicio 1: Cargar Datos de ventas.

El archivo datos.dat contiene el registro de las ventas realizadas.

Tiene un formato de ancho fijo:
- `fecha`:    10 lugares
- `producto`: 30 lugares
- `precio`:   10 lugares
- `cantidad`:  5 lugares

Hacer una funcion que cargue los datos en un DataFrame de Pandas.

In [9]:
import pandas as pd

def cargar_datos():
    colspecs = [(0, 10), (10, 40), (40, 50), (50, 55)]  
    nombres = ["fecha", "producto", "precio", "cantidad"] 
    
    try:
        datos = pd.read_fwf("datos.dat", colspecs=colspecs, names=nombres)
        datos["fecha"] = pd.to_datetime(datos["fecha"], format='%Y-%m-%d', errors='coerce')
        datos["precio"] = pd.to_numeric(datos["precio"], errors='coerce')
        datos["cantidad"] = pd.to_numeric(datos["cantidad"], errors='coerce')
        return datos
    except FileNotFoundError:
        print("El archivo 'datos.dat' no fue encontrado.")
        return pd.DataFrame() 

datos = cargar_datos()


print(datos)

        fecha    producto  precio  cantidad
0  2024-08-27     Mirinda    1510        14
1  2024-08-27     Mirinda    1560        12
2  2024-08-28     Torasso     940         8
3  2024-08-29  Pepsi Cola    1210        10
4  2024-08-30     Mirinda    1520         1
5  2024-09-01     Mirinda    1550        15
6  2024-09-01      Sprite     810         4
7  2024-09-02   Coca Cola    1100         4
8  2024-09-02  Pepsi Cola    1220        13
9  2024-09-02     Torasso     910         5
10 2024-09-02     Torasso     920         3
11 2024-09-03   Coca Cola    1020         8
12 2024-09-03     Mirinda    1570         7
13 2024-09-03     Mirinda    1590         2
14 2024-09-04  Pepsi Cola    1220        13
15 2024-09-05     Mirinda    1500         3
16 2024-09-05  Pepsi Cola    1300         5
17 2024-09-06   Coca Cola    1080         1
18 2024-09-06      Sprite     860        12
19 2024-09-06     Torasso     930         3
20 2024-09-07   Coca Cola    1080        14
21 2024-09-07      Sprite     870        13
22 2024-09-08   Coca Cola    1040        10
23 2024-09-08     Mirinda    1580         2
24 2024-09-08  Pepsi Cola    1240         9
25 2024-09-09     Mirinda    1500         3
26 2024-09-09      Sprite     850         9
27 2024-09-10     Mirinda    1590         8
28 2024-09-10  Pepsi Cola    1250        12
29 2024-09-11      Sprite     810         6
30 2024-09-11      Sprite     820        14
31 2024-09-12   Coca Cola    1080         4
32 2024-09-13     Mirinda    1580         5
33 2024-09-13  Pepsi Cola    1250        13
34 2024-09-14   Coca Cola    1080        15
35 2024-09-14  Pepsi Cola    1270        14
36 2024-09-15   Coca Cola    1100         1
37 2024-09-15     Mirinda    1500        13
38 2024-09-15      Sprite     870        14
39 2024-09-15     Torasso     900        13

### Ejercicio 2: Calcular el total de ventas.
Hacer una función que sume los importes vendidos (precio * cantidad) y las cantidades.

In [10]:
def calcular_totales(datos):
    
    if datos.empty:
        return 0, 0  

    
    datos["importe"] = datos["precio"] * datos["cantidad"]
    
    
    total_importe = datos["importe"].sum()
    total_cantidad = datos["cantidad"].sum()

    return total_importe, total_cantidad



importe, cantidad = calcular_totales(datos)


print(f"Las ventas fueron de ${importe:.2f} en {cantidad} unidades")

Las ventas fueron de $392730.00 en 335 unidades

### Ejercicio 3: Listar las unidades vendidas.
Listar cuántas unidades se vendieron en total para cada producto

In [11]:
def unidades_vendidas(datos):
    
    if datos.empty:
        print("No hay datos disponibles para calcular las unidades vendidas.")
        return

    
    resumen = datos.groupby("producto")["cantidad"].sum()

    
    resultado = resumen.reset_index().rename(columns={"cantidad": "Unidades Vendidas"})

    
    print("Unidades vendidas por producto:")
    print(resultado)

    return resultado



unidades_vendidas(datos)

Unidades vendidas por producto:
     producto  Unidades Vendidas
0   Coca Cola                 57
1     Mirinda                 85
2  Pepsi Cola                 89
3      Sprite                 72
4     Torasso                 32

     producto  Unidades Vendidas
0   Coca Cola                 57
1     Mirinda                 85
2  Pepsi Cola                 89
3      Sprite                 72
4     Torasso                 32

###  Ejercicio 4: Listar el precio promedio por producto.
Hacer un listado del precio promedio por producto.

In [12]:
def precio_promedio(datos):
   
    if datos.empty:
        print("No hay datos disponibles para calcular el precio promedio.")
        return

    
    promedio = datos.groupby("producto")["precio"].mean()

  
    resultado = promedio.reset_index().rename(columns={"precio": "Precio Promedio"})

    
    print("Precio promedio por producto:")
    print(resultado)

    return resultado



precio_promedio(datos)

Precio promedio por producto:
     producto  Precio Promedio
0   Coca Cola      1072.500000
1     Mirinda      1545.833333
2  Pepsi Cola      1245.000000
3      Sprite       841.428571
4     Torasso       920.000000

     producto  Precio Promedio
0   Coca Cola      1072.500000
1     Mirinda      1545.833333
2  Pepsi Cola      1245.000000
3      Sprite       841.428571
4     Torasso       920.000000

### Ejercicio 5: Ranking de productos
Realizar un listado de los 3 productos más vendidos ordenados por la cantidad de unidades vendidas (ordenadas de mayor a menor)

In [13]:
def ranking_productos(datos, top=3):
    
    if datos.empty:
        print("No hay datos disponibles para calcular el ranking de productos.")
        return

    
    resumen = datos.groupby("producto")["cantidad"].sum()

    
    ranking = resumen.sort_values(ascending=False).head(top)

    
    resultado = ranking.reset_index().rename(columns={"cantidad": "Unidades Vendidas"})

   
    print(f"Top {top} productos más vendidos:")
    print(resultado)

    return resultado



ranking_productos(datos)

Top 3 productos más vendidos:
     producto  Unidades Vendidas
0  Pepsi Cola                 89
1     Mirinda                 85
2      Sprite                 72

     producto  Unidades Vendidas
0  Pepsi Cola                 89
1     Mirinda                 85
2      Sprite                 72

### Ejercicio 6: Listar las ventas por mes
Realizar un listado del total de unidades vendidas por producto separado por mes.

In [14]:
def ventas_por_mes(datos):
    
    if datos.empty:
        print("No hay datos disponibles para calcular las ventas por mes.")
        return

    
    datos["fecha"] = pd.to_datetime(datos["fecha"], errors="coerce")

    
    datos["mes"] = datos["fecha"].dt.to_period("M")  

   
    resumen = datos.groupby(["producto", "mes"])["cantidad"].sum()

    
    resultado = resumen.reset_index().rename(columns={"cantidad": "Unidades Vendidas"})

    
    print("Ventas por mes:")
    print(resultado)

    return resultado



ventas_por_mes(datos)

Ventas por mes:
     producto      mes  Unidades Vendidas
0   Coca Cola  2024-09                 57
1     Mirinda  2024-08                 27
2     Mirinda  2024-09                 58
3  Pepsi Cola  2024-08                 10
4  Pepsi Cola  2024-09                 79
5      Sprite  2024-09                 72
6     Torasso  2024-08                  8
7     Torasso  2024-09                 24

     producto      mes  Unidades Vendidas
0   Coca Cola  2024-09                 57
1     Mirinda  2024-08                 27
2     Mirinda  2024-09                 58
3  Pepsi Cola  2024-08                 10
4  Pepsi Cola  2024-09                 79
5      Sprite  2024-09                 72
6     Torasso  2024-08                  8
7     Torasso  2024-09                 24

### Ejercicio 7: Informe general

Mostrar un listado de productos ordenados alfabeticamente que contengan el precio promedio, la cantidad de unidades vendidas y el importe total vendido para cada producto

In [15]:
def resumen_ventas(datos):
    
    if datos.empty:
        print("No hay datos disponibles para generar el informe.")
        return

    
    datos["importe"] = datos["precio"] * datos["cantidad"]

    
    resumen = datos.groupby("producto").agg(
        Precio_Promedio=("precio", "mean"),
        Unidades_Vendidas=("cantidad", "sum"),
        Importe_Total=("importe", "sum")
    )

   
    resumen = resumen.sort_index()

    
    print("Resumen de ventas:")
    print(resumen)

    return resumen



resumen_ventas(datos)

Resumen de ventas:
            Precio_Promedio  Unidades_Vendidas  Importe_Total
producto
Coca Cola       1072.500000                 57          60780
Mirinda         1545.833333                 85         131080
Pepsi Cola      1245.000000                 89         110510
Sprite           841.428571                 72          61040
Torasso          920.000000                 32          29320

            Precio_Promedio  Unidades_Vendidas  Importe_Total
producto
Coca Cola       1072.500000                 57          60780
Mirinda         1545.833333                 85         131080
Pepsi Cola      1245.000000                 89         110510
Sprite           841.428571                 72          61040
Torasso          920.000000                 32          29320

## `Resolver usando NumPy`
## Resolver el ejercicio 2 del tp1 usando NumPy

### Ejercicio 8

Escribe una función en Python que encuentre los valores de `a`, `b`, y `c` para que la función cuadrática `f(x) = a x^2 + b x + c` pase exactamente por los siguientes puntos:

| x  | y  |
|---:|---:|
|  0 |  0 |
|  1 |  8 |
|  2 | 12 |
|  3 | 12 |
|  5 |  0 |

### Requisitos:
- La función debe explorar posibles valores de `a`, `b`, y `c` utilizando un método de prueba y error.
- Debe devolver los valores que hagan que la diferencia entre la función `f(x)` y los valores medidos `y` sea exactamente cero para cada punto.

> **Pista**: Los valores de `a`, `b`, y `c` son números pequeños.

La idea es implementar el mismo algoritmo que se uso en el TP1 pero usando NumPy en lugar de Python puro.

In [ ]:
import numpy as np


def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c


def error(y, y_pred):
    return np.sum(np.abs(y - y_pred)) 


X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8, 12, 12, 0])


def buscar_coeficientes():
    rango = np.arange(-10, 11, 1)  
    for a in rango:
        for b in rango:
            for c in rango:
                
                y_pred = f(X, (a, b, c))
              
                if np.allclose(y_pred, Y):  
                    return a, b, c
    return None  

coeficientes = buscar_coeficientes()
print("Coeficientes encontrados:", coeficientes)

Coeficientes encontrados: (np.int64(-2), np.int64(10), np.int64(0))

### Ejercicio 9: Resolver el ejercicio 3 del TP1 usando NumPy
Buscar los coeficientes de la función que minimice la suma de los cuadrados de las diferencias entre los valores medidos y los valores de la función.

1. Crear un array con los coeficientes elegidos al azar (usar `randint(-10,10,3)`).
2. Calcular el valor de la función y el error correspondiente.
3. Mientras que el error sea mayor a 1:
    1. Definir nuevos coeficientes agregándoles un pequeño valor al azar a los coeficientes actuales (aprendizaje = 0.001).
    2. Si el error para los nuevos coeficientes es menor que el anterior, reemplazar los coeficientes actuales por los nuevos.

In [ ]:
import numpy as np


def f(x, coeficientes):
    a, b, c = coeficientes
    return a * x**2 + b * x + c

def error(y, y_pred):
    return np.sum(np.abs(y - y_pred))  


X = np.array([0, 1, 2, 3, 5])
Y = np.array([0, 8, 12, 12, 0])


def buscar_coeficientes():
    rango = np.arange(-10, 11, 1)  
    for a in rango:
        for b in rango:
            for c in rango:
                
                y_pred = f(X, (a, b, c))
                
                if np.allclose(y_pred, Y):  
                    return a, b, c
    return None 

coeficientes = buscar_coeficientes()
print("Coeficientes encontrados:", coeficientes)

Coeficientes encontrados: (np.int64(-2), np.int64(10), np.int64(0))